---
layout: default
title: Home
---

<!-- Featured
================================================== -->
{% assign featuredPosts = site.posts | where: "featured", true %}
{% if  featuredPosts != empty %}
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>

    <div class="row listfeaturedtag">
        
        {% for post in featuredPosts  %}

        {% include featuredbox.html %}

        {% endfor %}

    </div>

</section>
{% endif %}

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row">

    <div class="col-md-4 order-2">
        {% include sidebar.html %}
    </div>

    <div class="col-md-8 order-1 order-md-2">

        <div class="section-title">
            <h2><span>All Posts</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

            {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div>
            {% include pagination.html %}
        </div>

    </div>

</section>