---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem; 
	font-size: 14px;
	font-weight: 600;
  }  

.sidebar {
    max-width: 100%;
}